* {
    
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
    color: indigo;
    background-color: aquamarine;
}

h2 {
    text-align: center;
    color: chartreuse;
    background-color: orange;
}

.heading {
    width: 500px;
    margin: 0 auto;
}

.width {
    width: 500px;
    margin: 0 auto;
}

.box {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

ul.links {
    display: inline-block;
    text-align: left;
}