* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}

h1 {
    color: indigo;
    background-color: aquamarine;
}

h2 {
    color: chartreuse;
    background-color: orange;
}